<div>
    <form id="plot-form" class="row gy-2 gx-3 align-items-end" action={{ url_for(ns+".plot_lattice") }} method="POST">
    <div class="col-3">
      <label for="ndim" class="visually-hidden" for="autoSizingInputGroup">N=</label>
      <div class="input-group">
        <div class="input-group-text">N=</div>
        <input id="ndim" type="number" class="form-control" name="ndim" min="2" max="100" step="1" value="80" autocomplete="off">
      </div>
    </div>
    <div class="col-3">
      <label for="ktemp" class="visually-hidden" for="autoSizingInputGroup">kT=</label>
      <div class="input-group">
        <div class="input-group-text">kT=</div>
        <input id="ktemp" type="number" class="form-control" name="ktemp" min="0.00" max="5.00" step="0.01" value="1.00" autocomplete="off">
      </div>
    </div>
    <div class="col-3">
      <button id="plot-button" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="row gy-2 gx-3">
      <img id="plot-image" class="col-6" src="{{ url_for('static', filename='assets/placeholder.png')}}" alt="Lattice plot"></img>
  </div>
</div>
